:root{
    :root {
        --primary-color: #001f3f;
        --background-color: #f6f6ef;
        --text-color: #333;
        --secondary-color: #828282;
        --card-background: #fff;
        --accent-color: #ff6600;
      }
}